
.container{
    margin-bottom: 100px;
}

.carouse-bg{
    background-color: #fceae8;


}
.carousel{
    padding: 10px 20px;
    border-radius: 10px;
}
.price{
    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1 {
     background-image: linear-gradient(45deg, orange, yellow);
}
.cat2{
    background-image: linear-gradient(45deg, hotpink,#ff5e79)
}
.cat3{
    background-image: linear-gradient(45deg, rgb(58, 206, 255),blue)
}
.cat{
    padding: 20px 40px;
    border-radius: 10px;
}
.categories h1{
   color: white;
}
.cat img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px grey;
}